<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="service.js"></script>
    <script src="vue.js"></script>
</head>
<body>
<div id="app">
    <!--<input type="file" name="file" id="file">-->
    <input v-model="x"> + <input v-model="y"> = <input v-model="z"> <button v-on:click="add">计算</button>
    <p>{{x}} + {{y}} = {{z}}</p>
</div>
 <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">逆转消息</button>
    </div>
<script>
    //service.user.get_user_by_id('1', function(data){alert(data)});
    //document.querySelector('#file').onchange = function (e) {
    //    service.user.upload(this.files[0], function(data){console.log(data);});
    //}
    var app = new Vue({
        el: '#app',
        data: {x: '', y: '', z: ''},
        methods: {
            add: function () {
                service.executor.add(this.x, this.y, function(data){
                    app.z = data;
                }, function(e){external.alert(e, '提示')});
            }
        }

    });

var app5 = new Vue({
  el: '#app-5',
  data: {
    message: 'Hello Vue.js!'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  }
})
</script>
</body>
</html>